/* Shree KRISHNAya Namaha */

.page-title {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 300%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}
