/* Shree KRISHNAya Namaha */

h2, h3 {
    color: #e91e63;
    /*padding-top: 5px;*/
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #2196F3;
}

a h2:hover, h3:hover {
    color: #2196F3;
}

figure {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}

video {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.link-button {
    background-color: rgba(143, 141, 141, 0.13);
    border-radius: 5px;
}

.link-button:hover {
    background-color: #ffffff22;
}

.caption {
    text-align: center;
    /*display: block;*/
}

.citation {
    background-color: #f1f1f1;
    font-family: monospace;
    padding: 10px 25px;
}

#title-panel {
    background-color: rgba(31, 31, 31, 0.27);
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 900px) {
    .link-button {
        width: 200px;
        margin: 10px 10px;
    }
}

@media (max-width: 900px) {
    .link-button {
        width: 40%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

#video-presentation {
    text-align: center;
}

#fig-summary {
    width: 100%;
    max-width: 3508px;
    height: auto;
}

#fig-ivp-idea {
    width: 100%;
    max-width: 900px;
    height: auto;
}

#fig-veed-samples {
    width: 100%;
    max-width: 8192px;
    height: auto;
}

#fig-qualitative-comparisons {
    width: 100%;
    max-width: 2170px;
    height: auto;
}

@media (min-width: 1720px) {
    /* Large screen. Put all 2 videos in a single row*/
    .one-video-row {
        display: none !important;
    }
}

@media (max-width: 1720px) {
    /* Can't fit both videos in a single row. Put 1 video in each row */
    .two-video-row {
        display: none !important;
    }
}
